1. Compute the sum 12 + 22 + 32 + â€¦ + 20232 = ?

In [ ]:
def Q1():
  sum = 0
  for x in range (0,2024):
      sum = sum + (x*x)
  print(sum)

2. How many square numbers are below 2023?

In [ ]:
def Q2():
  count = 0
  for x in range(1, 2024):
      y = x * x
      if y <= 2024:
          count += 1
  print(count)

3. Find Fibonacci value #23.

In [ ]:
def Q3(n):
  t1, t2 = 0, 1
  for x in range(n):
      tn = 0
      if n <= 0:
          tn = 0
      elif n == 1:
          tn = tn+ 1
      else:
          if x>1:
              tn = t1 + t2
              t1 = t2
              t2 = tn
  print('Fibonacci value #',n,': ',tn)

In [ ]:
if __name__ == '__main__':
    Q1()
    Q2()
    Q3(23)

2761775324
44
Fibonacci number # 23 :  17711